<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<title>Real name attestation</title>
		<style>
			html,body
			{
				height: 100%;
				font-family: sans-serif;
				color: #444;
				line-height: 2;
			}
			body
			{
			   display: table;
			   margin: 0 auto;
			}

			.container
			{  
				height: 100%;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<img src="/android-icon-192x192.png" width="64"><br>
			<%- message %>
		</div>
	</body>
</html>
